{% include 'header.html' %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Data Giro</h1>
          </div>
          
          
          <!-- /.col -->
        </div><!-- /.row -->


    <!-- /.content-header -->


<!-- /.content -->

</div>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-12">
        <!-- datepicker-->
        <div class="card card-primary">
           <div class="card-header">
              <h3 class="card-title">Input parameter:</h3>
           </div>
           
              <div class="card-body">
                 <label>Date and time range:</label>
                 <!-- Date and time range -->
                 <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-clock"></i></span>
                    </div>
                    <input type="text" name="From" id="From" class="form-control float-right">
                    <!-- <input type="date" name='tgl1'>
                    <input type="date" name='tgl2'> -->
                  </div>
                  <br/>
                  <div class="col-md">
                    Cek input tanggal: <span id="result"></span>
                    <script>
                       function pr() {
                         document.getElementById("result").innerHTML = document.getElementById('From').value + " "
                       }
                     </script>
                       </div>
                  <input type="button" name="range" id="range" value="Range" class="btn btn-success" onClick="pr()"/>
                    <!-- /.input group -->
                 </div>
                 <div class="clearfix"></div>
              </div>
              <div class="card-body" id="purchase_order">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    {% for header in headingTable %} 
                    <th>{{ header }}</th>
      
                    {%endfor%} 
                    </tr>
                    <tbody>
                    {% for rs in rowTable %}
                  <tr>
                    {% for cell in rs %}
                    <td>{{cell}}</td>
                    {%endfor%}
                  </tr>
                  {%endfor%}
                  </tbody>
                </thead>
                </table>
               </div>


                                        
           <!-- /.form group -->
           <!-- Date and time range -->
        </div>
        <!-- /.card-body -->
     </div>
            <!-- STACKED BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Chart Giro</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
    </section>
</div>
</div>
<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ url_for('static', filename='plugins/chart.js/Chart.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static', filename='dist/js/demo.js') }}"></script>
<!-- page script -->




<!-- test bareng iwan -->
<script>
  $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartData = {
      labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
      datasets: [
        {
          label               : 'Digital Goods',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : [28, 48, 40, 19, 86, 27, 90]
        },
        {
          label               : 'Electronics',
          backgroundColor     : 'rgba(210, 214, 222, 1)',
          borderColor         : 'rgba(210, 214, 222, 1)',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : [65, 59, 80, 81, 56, 55, 40]
        },
      ]
    }
    console.log(areaChartData,'cekdata')
    //-------------
    //- BAR CHART -
    //-------------
    var barChartData = jQuery.extend(true, {}, areaChartData);
    var temp0 = areaChartData.datasets[0];
    var temp1 = areaChartData.datasets[1];
    barChartData.datasets[0] = temp1;
    barChartData.datasets[1] = temp0;
    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    };

  
    //---------------------
    //- STACKED BAR CHART -
    //---------------------
    var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
    var stackedBarChartData = jQuery.extend(true, {}, barChartData)

    var stackedBarChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      scales: {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }
    console.log(stackedBarChartData,'cekdata2')
    var stackedBarChart = new Chart(stackedBarChartCanvas, {
      type: 'bar', 
      data: stackedBarChartData,
      options: stackedBarChartOptions
    })
  });

  </script>
  <!-- test bareng iwan -->
<!-- /.content -->

<!-- /.content-wrapper -->

  {% include 'footer.html' %}