{% include 'header.html' %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Data Giro</h1>
          </div>
          
          
          <!-- /.col -->
        </div><!-- /.row -->


    <!-- /.content-header -->


<!-- /.content -->

</div>
<!-- Main content -->
<section class="content">
  <div class="row">
     <div class="col-12">
        <!-- datepicker-->
        <div class="card card-primary">
           <div class="card-header">
              <h3 class="card-title">Input parameter:</h3>
           </div>
           
              <div class="card-body">
                 <label>Date and time range:</label>
                 <!-- Date and time range -->
                 <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-clock"></i></span>
                    </div>
                    <input type="text" name="From" id="From" class="form-control float-right">
                    <!-- <input type="date" name='tgl1'>
                    <input type="date" name='tgl2'> -->
                  </div>
                  <br/>
                  <div class="col-md">
                    Cek input tanggal: <span id="result"></span>
                    <script>
                       function pr() {
                         document.getElementById("result").innerHTML = document.getElementById('From').value + " "
                       }
                     </script>
                       </div>
                  <input type="button" name="range" id="range" value="Range" class="btn btn-success" onClick="pr()"/>
                    <!-- /.input group -->
                 </div>
                 <div class="clearfix"></div>
              </div>
              <div class="card-body" id="purchase_order">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    {% for header in headingTable %} 
                    <th>{{ header }}</th>
      
                    {%endfor%} 
                    </tr>
                    <tbody>
                    {% for rs in rowTable %}
                  <tr>
                    {% for cell in rs %}
                    <td>{{cell}}</td>
                    {%endfor%}
                  </tr>
                  {%endfor%}
                  </tbody>
                </thead>
                </table>
               </div>


                                        
           <!-- /.form group -->
           <!-- Date and time range -->
        </div>
        <!-- /.card-body -->
     </div>
                 <!-- BAR CHART -->
                 <div class="card card-success">
                  <div class="card-header">
                    <h3 class="card-title">Bar Chart</h3>
    
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                      </button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>
    </section>
</div>
</div>

<!-- /.content -->

<!-- /.content-wrapper -->

  {% include 'footer.html' %}